<!DOCTYPE html>
<html>
<head>

</head>




<body>
    <h1>
        MINHAS TAREFAS
    </h1>
    <input id="entrada">
    <button id="adicionar">
        ADICIONAR
    </button>
    <ul id="tarefas"> 
    </ul>
    
    <script>
        function carregarTarefas() {const listaUl=document.getElementById("tarefas");
        fetch("/tarefas").then(response=>{ return response.json()}).then(tarefas => {if (tarefas.length== 0) {listaUl.innerHTML = "NÃO EXISTE NENHUMA TAREFA!"}
        else{listaUl.innerHTML = ""};
         for (let tarefa of tarefas) {const li=document.createElement("li"); 
        const botaoConcluir =document.createElement("button") ; 
        botaoConcluir.textContent = "CONCLUIR";
        botaoConcluir.addEventListener("click", function () {fetch(`/tarefas/${tarefa.id}`, {method :"PUT"}).then(carregarTarefas)});
         const botaoDelete =document.createElement("button") ; 
        botaoDelete.textContent = "REMOVER";
        botaoDelete.addEventListener("click", function () {fetch(`/tarefas/${tarefa.id}`, {method :"DELETE"}).then(carregarTarefas)})
        if (tarefa.status==0) {tarefa.status='não concluída'} 
        else {tarefa.status= 'concluída'}
        li.textContent = `${tarefa.id} ${tarefa.tarefa} ${tarefa.status}`;li.appendChild(botaoConcluir);li.appendChild(botaoDelete); listaUl.appendChild(li)}})};
        carregarTarefas()
        document.getElementById('adicionar').addEventListener("click", function () {const entradaUl = document.getElementById("entrada").value; if (entradaUl.trim()=="") {return alert("Tarefa precisa ser preenchida")} 
        else if (isNaN(entradaUl)) {fetch("/tarefas",{headers : {"Content-Type": "application/json"},body: JSON.stringify({"tarefa" : entradaUl}), method :"POST"}).then(carregarTarefas)}
        else {return alert("Tarefa não pode ser só números")}})
        
    </script>
</body>

</html>
